<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-06-25T17:21:16Z</date>
	<key>WorkspacePath</key>
	<string>/Users/csabahuszar/Projects/MAUI-Watch-n-Wear/Step45/Step45KMM/iosApp/iosApp.xcodeproj</string>
</dict>
</plist>
